@font-face {
    font-family: 'Noto';
    src: url(../fonts/NotoSansDisplay-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Noto';
    src: url(../fonts/NotoSansDisplay-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Noto';
    src: url(../fonts/NotoSansDisplay-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Noto';
    src: url(../fonts/NotoSansDisplay-SemiBold.ttf);
    font-weight: 600;
}